{% extends "layout.html" %}

{% block body %}
<div>
        
    <label for= "randevu_silme" id="baslik">
       Randevu Silme Sistemi
    </label>  
   
   <input type="text" class = "col-md-2" name="ssn" id="ssn" maxlength="8" minlength="8" class="form-control" placeholder="ssn örn(#12345678)" required />
    
   <input type="button" name="search" id="search" value="Listele" class="btn btn-success"/>
  
</div>

<div class= "positionTable" id="taken_appointments">
   <table class="table table-bordered">
       <tr>
       <th width="30%">Hastane</th>
       <th width="30%">Doktor</th>
       <th width="20%">Date</th>
       <th width="20%">Saat</th>
       </tr>

   </table>
</div>
{% endblock body %}

{%block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css"/>
<link rel="stylesheet" href="../static/css/delete.css">
<link rel="stylesheet" href="../static/css/main.css">
{%endblock head %}

{%block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script>
    $('#search').on('click', function(){
        var ssn = document.getElementById('ssn').value

        let url = '/delete/'+ssn
                $.ajax({
                    url:url,
                    method:"POST",
                    success:function(data)
                    {
                        $('#taken_appointments').html(data);
                        $('#taken_appointments').append(data.htmlresponse);
                    }
                });
    });
</script>
{%endblock script %}